<% binding.pry %>
<%if @user.role == "admin" %>
  <h2>
    All Open Tickets:
  </h2>
  <% SupportTicket.all.each do |ticket| %>
    <h4><%=ticket.subject%></h4>
    <p><%=ticket.body%></p>
    <a href="/tickets/<%=@ticket.id%>/edit" id="Edit Ticket">Edit Ticket</a>
    <a href="/tickets/<%=@ticket.id%>/delete" id="Delete Ticket">Delete Ticket</a>
  <%end%>
<%elsif @user.role = "user" %>
  <h2>
    Your Open Tickets:
  </h2>
  <% SupportTicket.all.each do |ticket| %>
    <h4><%=ticket.subject%></h4>
    <p><%=ticket.body%></p>
    <a href="/tickets/<%=@ticket.id%>/edit" id="Edit Ticket">Edit Ticket</a>
    <a href="/tickets/<%=@ticket.id%>/delete" id="Delete Ticket">Delete Ticket</a>
  <%end%>
<%end%>
